<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

  
    <bean id="userAction" class="org.factory.spring.action.UserAction">
       <property name="abc" value="Spring"/>
    <!-- set方法的配置 -->
    <!--    <property name="us" ref="userService"/> -->
    <!--  构造器方法的配置-->
    <constructor-arg ref="userService"></constructor-arg>
    
    </bean>
    
    
    
    <bean id="date" class="java.util.Date">
    
    </bean>
   
   <bean id="userService" class="org.factory.spring.serviceImpl.UserServiceImpl">
   
   </bean>
</beans>